
<div class="screen-detail mgt-content-df">
    <div class="box-product row">
        <div class="col-6 box-image">
            <img src="../../../../assets/product/{{productDetail.url}}"/>
        </div>
        <div class="col-6 box-infor">
            <div class="txt-name">
                {{productDetail.name}}
            </div>
            <div class="txt-price">
                {{productDetail.price}}
            </div>
            <div class="txt-intro">
                {{productDetail.content}}
            </div>
            <div class="box-add-cart">
                <div class="number-product">
                    <div class="change-item sub-item" (click)="changeItem('sub')">-</div>
                    {{ numberProduct }}
                    <div class="change-item add-more" (click)="changeItem('add')">+</div>
                </div>
                <div class="btn-add-cart" (click)="addToCard(productDetail.id)">
                    Add to cart
                </div>
            </div>
            <div class="txt-type">
                <span class="txt-category">Category:</span><span class="name-type">Products</span>
            </div>
        </div>
    </div>
    <div class="box-extra">
        <div class="choose-extra">
            <div class="choose-item choose-1 choose-active" (click)="changeChoose(1)">
                DESCRIPTION
            </div>
            <div class="choose-item choose-2" (click)="changeChoose(2)">
                ADDITIONAL INFORMATION
            </div>
            <div class="choose-item choose-3" (click)="changeChoose(3)">
                REVIEW
            </div>
        </div>
        <div class="infor-choose">
            <div *ngIf="typeChoose == 1">
                {{productDetail.description}}
            </div>
            <div *ngIf="typeChoose == 2">
                <table>
                    <tr *ngIf ="productDetail.weight !=null">
                        <td class="txt-main">Weight</td>
                        <td class="txt-infor">{{productDetail.weight}}</td>
                    </tr>
                    <tr *ngIf ="productDetail.color !=null">
                        <td class="txt-main">Color</td>
                        <td class="txt-infor">{{productDetail.color}}</td>
                    </tr>
                    <tr *ngIf ="productDetail.composition !=null">
                        <td class="txt-main">Composition</td>
                        <td class="txt-infor">{{productDetail.composition}}</td>
                    </tr>
                    <tr *ngIf ="productDetail.volume !=null">
                        <td class="txt-main">Volume</td>
                        <td class="txt-infor">{{productDetail.volume}}</td>
                    </tr>
    
                </table>
            </div>
            <div *ngIf="typeChoose == 3">
        
            </div>
        </div>
    </div>

    <br/>
    <div class="tt-main-df">
      Sản phẩm khác
    </div>

    <div class="list-product-df row">
        <div class="col-lg-3 col-sm-4 col-6 box-item" *ngFor="let item of listProduct">
            <div class="item-product" (click)="goDetail()">
                <div class="image-product">
                    <img src="../../../assets/product/{{ item.url }}"/>
                </div>
                <div class="infor-product">
                    <div class="txt-type">
                        {{ item.categoryName }}
                    </div>
                    <div class="txt-name">
                        {{ item.name }}
                    </div>
                    <div class="txt-bottom">
                        <span class="txt-price">${{ item.price }}</span>
                        <span class="txt-add">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Add to cart
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
