
<div class="screen-detail mgt-content-df">
    <div class="box-product row">
        <div class="col-lg-4 col-sm-4 col-6  box-image">
            <img src="../../../../assets/images/product1.jpg"/>
        </div>
        <div class="col-lg-6 col-sm-6 col-6  box-infor">
            <div class="txt-name">
                Smoked Ham
            </div>
            <div class="txt-price">
                $8.35
            </div>
            <div class="txt-intro">
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vitae viverra risus.
                Vivamus eget accumsan elit, tincidunt pharetra orci. Maecenas neque mi, porttitor eu ullamcorper nec,
                aliquet eu nulla. Mauris maximus turpis tellus, vel aliquam neque aliquet accumsan. Maecenas ultrices facilisis
                libero, eu laoreet mauris. Integer non aliquam sapien, ut auctor sem. Vivamus urna urna, eleifend eget augue sed,
                pulvinar rutrum enim. Nullam lacinia mauris vel mattis lacinia.
            </div>
            <div class="box-add-cart">
                <div class="number-product">
                    <div class="change-item sub-item" (click)="changeItem('sub')">-</div>
                    {{ numberProduct }}
                    <div class="change-item add-more" (click)="changeItem('add')">+</div>
                </div>
                <div class="btn-add-cart" (click)="addToCard()">
                    Add to cart
                </div>
            </div>
            <div class="txt-type">
                <span class="txt-category">Category:</span><span class="name-type">Products</span>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-0 ">
            <div class="tt-cate">
                Product categories
            </div>
            <div class="list-category">
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
            </div>
        </div>
    </div>
    <div class="box-extra">
        <div class="choose-extra">
            <div class="choose-item choose-1 choose-active" (click)="changeChoose(1)">
                DESCRIPTION
            </div>
            <div class="choose-item choose-2" (click)="changeChoose(2)">
                ADDITIONAL INFORMATION
            </div>
        </div>
        <div class="infor-choose">
            <div *ngIf="typeChoose == 1">
                Morbi non accumsan libero, volutpat ullamcorper odio. Donec non libero id augue suscipit commodo.
                Curabitur porta ac ligula vel sollicitudin. Praesent vestibulum tellus urna, in imperdiet neque lobortis eleifend.
                Nunc eros nulla, porta quis urna nec, luctus viverra diam. In ut ante est. Duis venenatis erat ac nisl malesuada gravida.
                Pellentesque pellentesque tempor urna, quis vehicula mi mollis hendrerit.
                Etiam iaculis convallis arcu, id lacinia massa imperdiet vitae.
            </div>
            <div *ngIf="typeChoose == 2">
                <table>
                    <tr>
                        <td class="txt-main">Weight</td>
                        <td class="txt-infor">1 kg</td>
                    </tr>
                    <tr>
                        <td class="txt-main">Сomposition</td>
                        <td class="txt-infor">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br/>
    <div class="tt-main-df">
      Sản phẩm khác
    </div>

    <div class="list-product-df row">
        <div class="col-lg-3 col-sm-4 col-6 box-item" *ngFor="let item of listProduct">
            <div class="item-product" (click)="goDetail()">
                <div class="image-product">
                    <img src="../../../assets/images/{{ item.image }}"/>
                </div>
                <div class="infor-product">
                    <div class="txt-type">
                        {{ item.type }}
                    </div>
                    <div class="txt-name">
                        {{ item.name }}
                    </div>
                    <div class="txt-bottom">
                        <span class="txt-price">${{ item.price }}</span>
                        <span class="txt-add">
                            <img src="../../../../assets/images/ic_store_green.png"/>
                            Add to cart
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
