<div class="screen-detail mgt-content-df">
    <div class="box-product row">
        <div class="col-lg-4 col-sm-4 col-6  box-image">
            <img src="../../../../assets/product/{{productDetail.url}}" />
        </div>
        <div class="col-lg-6 col-sm-6 col-6  box-infor">
            <div class="txt-name">
                {{productDetail.name}}
            </div>
            <div class="txt-price">
                {{productDetail.price}}
            </div>
            <div class="txt-intro">
                {{productDetail.content}}
            </div>
            <div class="box-add-cart">
                <div class="number-product">
                    <div class="change-item sub-item" (click)="changeItem('sub')">-</div>
                    {{ numberProduct }}
                    <div class="change-item add-more" (click)="changeItem('add')">+</div>
                </div>
                <div class="btn-add-cart" (click)="addToCard(productDetail.id)">
                    Add to cart
                </div>
            </div>
            <div class="txt-type">
                <span class="txt-category">Category:</span><span class="name-type">Products</span>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-0 ">
            <div class="tt-cate">
                Product categories
            </div>
            <div class="list-category">
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
                <div>
                    Uncategorized
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-extra col-lg-10 col-sm-10 col-10">
            <div class="choose-extra">
                <div class="choose-item choose-1 choose-active" (click)="changeChoose(1)">
                    DESCRIPTION
                </div>
                <div class="choose-item choose-2" (click)="changeChoose(2)">
                    ADDITIONAL INFORMATION
                </div>
                <div class="choose-item choose-3" (click)="changeChoose(3)">
                    REVIEW
                </div>
            </div>
            <div class="infor-choose">
                <div *ngIf="typeChoose == 1">
                    {{productDetail.description}}
                </div>
                <div *ngIf="typeChoose == 2">
                    <table>
                        <tr *ngIf="productDetail.weight !=null">
                            <td class="txt-main">Weight</td>
                            <td class="txt-infor">{{productDetail.weight}}</td>
                        </tr>
                        <tr *ngIf="productDetail.color !=null">
                            <td class="txt-main">Color</td>
                            <td class="txt-infor">{{productDetail.color}}</td>
                        </tr>
                        <tr *ngIf="productDetail.composition !=null">
                            <td class="txt-main">Composition</td>
                            <td class="txt-infor">{{productDetail.composition}}</td>
                        </tr>
                        <tr *ngIf="productDetail.volume !=null">
                            <td class="txt-main">Volume</td>
                            <td class="txt-infor">{{productDetail.volume}}</td>
                        </tr>

                    </table>
                </div>
                <div *ngIf="typeChoose == 3">
                    <h1 class="header_text_comment">Review for whole wheat bread</h1>
                    <ol class="commentlist">
                        <li *ngFor="let productReview of productReview"  itemprop="review" itemscope="" itemtype="http://schema.org/Review"
                            class="comment byuser comment-author-cmsmasters even thread-even depth-1"
                            id="li-comment-20">
                            <div id="comment-20" class="comment_container cmsmasters_comment_item">
                                <figure class="cmsmasters_comment_item_avatar">
                                    <img alt=""
                                        src="../../../../assets/user/{{productReview.avatarUrl != null ? productReview.avatarUrl : 'avatar_default.png'}}"
                                        srcset="https://secure.gravatar.com/avatar/cec22fb290043e2c1b9972d9bc2f0cfb?s=120&amp;d=mm&amp;r=g 2x"
                                        class="avatar avatar-60 photo" height="60" width="60"> </figure>
                                <div class="comment-text cmsmasters_comment_item_cont">
                                    <div class="cmsmasters_comment_item_cont_info">
                                        <div class="cmsmasters_comment_item_cont_info_meta">

                                            <div class="cmsmasters_star_rating" itemscope=""
                                                itemtype="http://schema.org/Rating">

                                                <div class="cmsmasters_star_color_wrap" data-width="width:100%">
                                                    <!-- <div class="rating_comment" > 
                                                        <input type="radio" name="rating_comment"  value="5" id="5"><label  style="opacity: 1;" for="5">☆</label>
                                                           
                                                        <input  type="radio" name="rating_comment" value="4" id="4"><label class="{{productReview.star4}}"  for="4">☆</label> 
                                                        <input type="radio" name="rating_comment"    value="3" id="3"><label class="{{productReview.star3}}" for="3">☆</label>
                                                        <input  type="radio" name="rating_comment"  value="2" id="2"><label class="{{productReview.star2}}"  for="2">☆</label>
                                                        <input type="radio" name="rating_comment"   value="1" id="1"><label class="{{productReview.star1}}" for="1">☆</label>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="cmsmasters_comment_item_title" itemprop="author">{{productReview.userName}}</h6>
                                    </div>
                                    <time class="cmsmasters_comment_item_date" itemprop="datePublished"
                                        datetime="June 21, 2017">{{productReview.dateInsert}}</time>
                                    <div itemprop="description" class="description cmsmasters_comment_item_content">
                                        <p>{{productReview.content}}</p>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>

                    <div id="review_form_wrapper">
                        <div id="review_form">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow"
                                            id="cancel-comment-reply-link" href="/product/whole-wheat-bread/#respond"
                                            style="display:none;">Cancel reply</a></small></h3>

                                <form 
                                    id="commentform" class="comment-form" novalidate="">

                                    <p class="comment-form-comment"><label for="comment">Your Review</label><textarea
                                            name="comment" id="comment" cols="67" rows="2" required=""></textarea></p>

                                     <div class="rating" > <input type="radio" name="rating" (click)="userVote(5)" value="5" id="5"><label for="5">☆</label> <input (click)="userVote(4)" type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input (click)="userVote(3)" type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input (click)="userVote(2)" type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" (click)="userVote(1)" name="rating" value="1" id="1"><label for="1">☆</label>
                                     </div>
                                

                                    <div class="row"><p class="form-submit input_submit_form"><input (click)="submitComment()"  name="submit" type="submit" id="submit" class="submit"
                                            value="Submit"> <input  type="hidden" name="comment_post_ID" value="13246"
                                            id="comment_post_ID">
                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                    </p>
                                    </div>
                                    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce"
                                            name="akismet_comment_nonce" value="6e3b8d2dd5"></p>
                                    <p style="display: none;"> <input type="hidden" id="ak_js" name="ak_js"
                                            value="1596043268005"></p>
                                </form>
                            </div><!-- #respond -->
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-2 col-0 "></div>
    </div>
    <br />
    <div class="tt-main-df">
        Sản phẩm khác
    </div>

    <div class="list-product-df row">
        <div class="col-lg-3 col-sm-4 col-6 box-item" *ngFor="let item of listProduct">
            <div class="item-product" (click)="goDetail(item.id)">
                <div class="image-product">
                    <img src="../../../assets/product/{{ item.url }}" />
                </div>
                <div class="infor-product">
                    <div class="txt-type">
                        {{ item.categoryName }}
                    </div>
                    <div class="txt-name">
                        {{ item.name }}
                    </div>
                    <div class="txt-bottom">
                        <span class="txt-price">${{ item.price }}</span>
                        <span class="txt-add">
                            <img src="../../../../assets/images/ic_store_green.png" />
                            Add to cart
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>