<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Danh sách đơn hàng
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Phone</th>
                    <th>Địa chỉ</th>
                    <th>Ngày đặt hàng</th>
                    <th>Ngày cập nhật</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.userName}}</td>
                    <td>{{order.phone}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.dateCreate}}</td>
                    <td>{{order.dateUpdate}}</td>
                    <td>{{order.status}}</td>
                </tr>


            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>