<div class="card">
 <div class="card-body">
    <button type="button"  class="btn btn-success create" data-toggle="modal" data-target="#createCategory"><span class="cil-contrast btn-icon mr-2"></span> Create</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Stt</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Giói tính</th>
          <th scope="col">Role</th>
          <th scope="col">Ngày đăng kí</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" >
          <td scope="row">1</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td [ngSwitch]="user.sex">
            <span *ngSwitchCase="1">Nam</span>
            <span *ngSwitchCase="0">Nữ</span>
            <span *ngSwitchCase="2">Giới tính khác</span>
          </td>
          <td [ngSwitch]="user.role">
            <span *ngSwitchCase="1">Admin</span>
            <span *ngSwitchCase="0">User</span>
          </td>
          <td>{{user.dateCreate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>