
<div class="box-header">
    <div class="header-small">
        <div class="box-content-df">
            <div class="txt-left">
                Customer Care
            </div>
            <!-- chua dang nhap -->
            <div class="box-login" *ngIf="!showUser">
                <div class="btn-sigup" (click)="singUp()" >Sign Up</div>
                <div class="btn-login" (click)="logIn()" >Log In</div>
            </div>

            <!-- da dang nhap -->
            <div class="box-login2" *ngIf="showUser">
                <div class="infor-login">
                    <div class="box-avatar">
                        <img src="{{user.avatarUrl ? user.avatarUrl : '../../../assets/user/user_default.jpg'}}"/>
                    </div>
                    <div class="name-user">{{user.username}}</div>
                </div>
                <div class="infor-logout">
                    <div class="btn-profile" (click)="updateInfo()">
                        Trang cá nhân
                    </div>
                    <div class="btn-profile" (click)="historyOrder()">
                        Lịch sử mua hàng
                    </div>
                    <div class="btn-logout" (click)="logout()">
                        Đăng xuất
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="box-content-df">
    <div class="box-content-df">
        <div class="line-search">
            <div class="txt-logo" (click)="foodMarket()">
                <span class="txt1">Food</span><span class="txt2">Market</span>
            </div>
            <div class="box-search"   >
                <input (focus)="onFocus()" (focusout)="onFocusOutEvent()" autofocus id="search" [(ngModel)]="searchKeyword" (keyup)="searchChangeEvent($event)"
                     placeholder="Search for products ..." />
                <div class="btn-search">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <div class="result-search" *ngIf="showResult">
                    <!-- co ket qua -->
                    <div>
                        <div *ngFor="let product of productSearch" class="item-result">
                            <div (click)="goDetailProduct(product.id)">
                                <img src="../../../assets/product/{{product.url}}" />
                                <div class="infor-result">
                                    <p class="rs-name">{{product.name}}</p>
                                    <p class="rs-price">Giá :
                                        {{product.priceSale != null ? product.priceSale : product.price}}đ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- khong co kq -->
                    <div class="no-result" *ngIf="noDataResult" >
                        Không có kết quả tìm kiếm
                    </div>
                </div>
            </div>
            <div class="store-container">
                <div class="box-store">
                    <img src="../../../assets/images/ic_store.png"/>
                    <span class="txt-price">{{cart.totalPrice != null ? cart.totalPrice : 0}}đ</span>
                </div>
                <div class="box-product">
                    <div class="item-result" *ngFor="let cartItem of listCartItem" >
                        <img src="../../../assets/product/{{cartItem.url}}"/>
                        <div class="infor-result">
                            <p class="rs-name">{{cartItem.name}}</p>
                            <p class="rs-price">{{cartItem.priceSale != null ? cartItem.priceSale : cartItem.price}}đ x {{cartItem.quantity}}</p>
                        </div>
                        <div class="remove-item" (click)="deleteItemCart(cartItem)" >x</div>
                    </div> 
                    <div class="box-total">
                        <div class="txt-total">
                            Tổng :  {{cart.totalPrice != null ? cart.totalPrice : 0}}
                        </div>
                        <div class="box-line">
                            <div class="view-cart" (click)="viewCart()">
                                View Cart
                            </div>
                            <div class="check-oout" (click)="checkOut()">
                                Checkout
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-menu">
            <div class="item-menu item-home">
                Home
            </div>
            <div class="item-menu item-tab4">
                Contacts
            </div>
        </div>
    </div>
</div>
