<div class="screen-home mgt-content-df">
    <div class="box-slide">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/images/slide1.jpg"/>
                    <div class="content-slide">
                        <div class="tt-slide">
                            Low <br/>Price <br/>Everyday <br/>
                        </div>
                        <div class="des-slide">
                            We work for the customer to make <br/>
                            sure that shoppers get the best <br/>
                            value for their household.
                        </div>
                        <div class="btn-slide" (click)="readMore()">
                            Read more
                        </div>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="../../../assets/images/slide1.jpg"/>
                    <div class="content-slide">
                        <div class="tt-slide">
                            Low <br/>Price <br/>Everyday <br/>
                        </div>
                        <div class="des-slide">
                            We work for the customer to make <br/>
                            sure that shoppers get the best <br/>
                            value for their household.
                        </div>
                        <div class="btn-slide">
                            Read more2
                        </div>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="../../../assets/images/slide1.jpg"/>
                    <div class="content-slide">
                        <div class="tt-slide">
                            Low <br/>Price <br/>Everyday <br/>
                        </div>
                        <div class="des-slide">
                            We work for the customer to make <br/>
                            sure that shoppers get the best <br/>
                            value for their household.
                        </div>
                        <div class="btn-slide">
                            Read more3
                        </div>

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" data-slide="prev" href="#myCarousel">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" data-slide="next" href="#myCarousel">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="box-img-intro">
        <div class="img-intro">
            <img src="../../../assets/images/bg_home2.jpg"/>
        </div>
        <div class="img-intro">
            <img src="../../../assets/images/bg_home3.jpg"/>
        </div>
    </div>

    <div class="tt-main-home">
      What's trending
    </div>

    <div class="list-product-df row">
        <div class="col-lg-3 col-sm-4 col-6 box-item" *ngFor="let item of listProduct">
            <div class="item-product" (click)="goDetail(item.id)">
                <div class="image-product">
                    <img src="../../../assets/product/{{ item.url }}"/>
                </div>
                <div class="infor-product">
                    <div class="txt-type">
                        {{ item.categoryName }}
                    </div>
                    <div class="txt-name">
                        {{ item.name }}
                    </div>
                    <div class="txt-bottom">
                        <span class="txt-price">{{ item.price }}đ</span>
                        <span class="txt-add">
                            <img src="../../../assets/images/ic_store_green.png"/>
                            Add to cart
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
