<div class="screen-home">
    <div class="box-slide">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="../../../assets/images/slide1.jpg"/>
                </div>

                <div class="item">
                    <img src="../../../assets/images/slide1.jpg"/>

                </div>

                <div class="item">
                    <img src="../../../assets/images/slide1.jpg"/>

                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="list-product">
        <div class="col-md-3 col-xs-4 col-sm-2 box-item" *ngFor="let item of listProduct">
            <div class="item-product" (click)="goDetail()">
                <div class="image-product">
                    <img src="../../../assets/images/{{ item.image }}"/>
                </div>
                <div class="infor-product">
                    <div class="txt-type">
                        {{ item.type }}
                    </div>
                    <div class="txt-name">
                        {{ item.name }}
                    </div>
                    <div class="txt-bottom">
                        <span class="txt-price">${{ item.price }}</span>
                        <span class="txt-add">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Add to cart
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
