<div class="card">
    <div class="card-header">
    <i class="fa fa-align-justify"></i> Danh sách sản phẩm
    </div>
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>Product Name</th>
    <th>Category Name</th>
    <th>Price</th>
    <th>Price Sale</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let item of listProduct | paginate: { itemsPerPage: 10, currentPage: p }" >
    <td>{{item.name}}</td>
    <td>{{item.categoryName}}</td>
    <td>{{item.price}}</td>
    <td>{{item.priceSale}}</td>

    <td [ngSwitch]="item.status">
        <span *ngSwitchCase="0">InActive</span>
        <span *ngSwitchCase="1">Active</span>
      
    </td>

    <td><i class="icon-note icons" (click)="updateProduct(item)"></i>
        <i class="icon-trash icons" (click)="deleteProduct(item.id)" style="padding-left: 12px;"></i>
    </td>
    <!-- (click)="updateUser(user) -->
    </tr>


    </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>