<div class="screen-pay mgt-content-df">
    <div class="box-cart">
        <p class="tt-main-df">Cart</p>
        <table class="tb-product">
            <tr class="txt-title">
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <tr *ngFor="let cartItem of listCartItem" >
                <td class="infor-product">
                    <div class="img-product">
                        <img src="../../../../assets/product/{{cartItem.url}}"/>
                    </div>
                    <div class="txt-name">
                        {{cartItem.name}}
                    </div>
                </td>
                <td class="txt-price">{{cartItem.price}}</td>
                <td class="txt-quantity">{{cartItem.quantity}}</td>
                <td class="txt-total">{{cartItem.price * cartItem.quantity}}</td>
            </tr>

            <tr>
                <td colspan="2" class="box-voucher">
                    <div class="content-voucher">
                        <input type="text" placeholder="Coupon code"/>
                        <div class="btn-apply">
                            Apply coupon
                        </div>
                    </div>
                </td>
                <td colspan="2" class="box-update">
                    <div class="btn-update">
                        Update cart
                    </div>
                </td>

            </tr>

        </table>
    </div>
    <div class="box-cart-total">
        <p class="tt-main-df">Carts total</p>
        <table class="tb-result">
            <tr class="txt-line1">
                <td>
                    Subtotal
                </td>
                <td class="txt-total">{{cart.totalPrice}}</td>
            </tr>
            <tr class="txt-line2">
                <td>
                    Total
                </td>
                <td>{{cart.totalPrice}}</td>
            </tr>
        </table>
    </div>
    <div class="btn-continute" (click)="goToConfirm()">
	    Proceed to checkout
    </div>


</div>
