
<div class="screen-login">
  <div class="box-content">

      <div class="tt-main">
          <span>Quên mật khẩu</span>
      </div>
      <div>
          <form [formGroup]="dataForgetPassword">

              <div class="form-group box-input">
                  <img class="ic-16 ic-input" src="../../../../assets/images/ic_key.png" alt="ic password">
                  <input type="password" formControlName="password" placeholder="Press new password..." class="form-control"
                      [ngClass]="{ 'input-err-df': submitted && ckLogin.password.errors }"  />
                  <div *ngIf="submitted && ckLogin.password.errors" class="txt-err-df ck-err">
                      <div *ngIf="ckLogin.password.errors.required">Cần nhập mật khẩu</div>
                      <div *ngIf="ckLogin.password.errors.minlength">Mật khẩu phải nhiều hơn hoặc bằng 6 ký tự.</div>
                  </div>
                  <p class="txt-err-df ck-err">{{ notiErr }}</p>
              </div>
              <div class="form-group box-input">
                <img class="ic-16 ic-input" src="../../../../assets/images/ic_key.png" alt="ic password">
                <input type="password" formControlName="passConfirm" placeholder="Confirm password" class="form-control"
                    [ngClass]="{ 'input-err-df': submitted && ckRegister.passConfirm.errors}" />
                <div *ngIf="submitted && ckRegister.passConfirm.errors" class="txt-err-df ck-err">
                    <div *ngIf="ckRegister.passConfirm.errors.required">Bạn chưa xác nhận mật khẩu</div>
                    <div *ngIf="ckRegister.passConfirm.errors.mustMatch">Mật khẩu không khớp</div>
                </div>
                <p class="txt-err-df ck-err">{{ notiErr }}</p>
            </div>

              <div class="txt-center">
                  <button type="button" class="btn-login" (click)="loginWithEmail()">Cập nhật</button>
              </div>
          </form>


      </div>
  </div>
</div>
<!-- <app-retrieval-pass></app-retrieval-pass> -->

