// Import styles
@import "~@coreui/coreui/scss/coreui";

// @import "bootstrap/scss/mixins";

@import "~@coreui/coreui/scss/variables";

body {
    background-color: #f4f4f4;
    color: #4f4f4f;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
}
.box-content-df {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.txt-center {
  text-align: center;
}
.txt-err-df {
  color: #dc4d3f;
}
.txt-correct-df {
  color: #3367d6;
}
.input-err-df {
  border: 1px solid #dc4d3f!important;
}

/* 1 so the co ban */
a {
  cursor: pointer;
  color: #3367d6;
}
a:hover {
  color: #3367d6;
  opacity: 0.8;
}
button:focus {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #4d81ed;
}
/* margin */
.mgl-4 {
  margin-left: 4px;
}
.mgr-4 {
  margin-right: 4px;
}
.mgb-4 {
  margin-bottom: 4px;
}
/* size icon */
.ic-10 {
  width: 10px;
}
.ic-16 {
  width: 16px;
}
.ic-20 {
  width: 20px;
}
.ic-24 {
  width: 24px;
}
.ic-28 {
  width: 28px;
}

.notify-current-df {
  position: fixed;
  top: 200px;
  z-index: 10000;
  color: white;
  font-size: 15px;
  text-align: center;
  left: calc(50% - 150px);
  display: none;
  background: #4285f4;
  border-radius: 0px;
  box-shadow: 1px 1px 0 rgba(199, 196, 191, 0.62), 1px 1px 3px rgba(210, 207, 202, 0.73);
  -webkit-box-shadow: 1px 1px 0 rgba(199, 196, 191, 0.62), 1px 1px 3px rgba(210, 207, 202, 0.73);
  -moz-box-shadow: 1px 1px 0 rgba(199, 196, 191, 0.62), 1px 1px 3px rgba(210, 207, 202, 0.73);
  width: 300px !important;
  border-radius: 30px;
}
.mgt-content-df {
  margin-top: 180px;
}
.tt-main-df {
  font-size: 28px;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .box-content-df {
    padding: 0 8px;
  }
}

@media only screen and (max-width: 850px) {
  .mgt-content-df {
    margin-top: 220px;
  }
}
